header
  nav.header-nav
    button.header-nav__log(type='button')
      a.header-nav__log__text(href='#') Log in
    button.header-nav__sign(type='button')
      a.header-nav__sign__text(href='#')
        | Sign
        | up
  .dreamshare dreamshare
  .share-your-dream share your holiday dream
  .find-partner And find the perfect partner to fullfill it
  button.button-find(type='button')
    a.button-find__text(href='#')
      | Find your holiday
      | partner