extends html/head

block content 
  main
  section.how-dreamshare-works
    article.how-dreamshare-works__steps
      .how-dreamshare-works__steps__text How Dreamshare works?
      figure.how-dreamshare-works__steps__pictures
        figcaption.how-dreamshare-works__steps__pictures__step_1
          .how-dreamshare-works__steps__pictures__step_1__image1
          .how-dreamshare-works__steps__pictures__step_1__item
            button.how-dreamshare-works__steps__pictures__step_1__item__button(type='button')
              .how-dreamshare-works__steps__pictures__step_1__item__button__text step 1
            .how-dreamshare-works__steps__pictures__step_1__item__sed Sed leo enim, condimentum
            .how-dreamshare-works__steps__pictures__step_1__item__quisque
              | Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec
              | rhoncus a leo sit amet facilisis.
        figcaption.how-dreamshare-works__steps__pictures__step_2
          .how-dreamshare-works__steps__pictures__step_2__image2
          .how-dreamshare-works__steps__pictures__step_2__item
            button.how-dreamshare-works__steps__pictures__step_2__item__button(type='button')
              .how-dreamshare-works__steps__pictures__step_2__item__button__text step 2
            .how-dreamshare-works__steps__pictures__step_2__item__morbi Morbi velit risus
            .how-dreamshare-works__steps__pictures__step_2__item__nulla
              | Nulla venenatis tempor dui in molestie. Nulla quis dictum purus, sit amet
              | porttitor est.
        figcaption.how-dreamshare-works__steps__pictures__step_3
          .how-dreamshare-works__steps__pictures__step_3__image3
          .how-dreamshare-works__steps__pictures__step_3__item
            button.how-dreamshare-works__steps__pictures__step_3__item__button(type='button')
              .how-dreamshare-works__steps__pictures__step_3__item__button__text step 3
            .how-dreamshare-works__steps__pictures__step_3__item__sed Sed leo enim, condimentum
            .how-dreamshare-works__steps__pictures__step_3__item__quisque
              | Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec
              | rhoncus a leo sit amet facilisis.
  section.meet-a-partner-for-your-best-holiday
    article.meet-a-partner-for-your-best-holiday__partner
      .meet-a-partner-for-your-best-holiday__partner__text Meet a partner for your best holiday
      figure.meet-a-partner-for-your-best-holiday__partner__people
        figcaption.meet-a-partner-for-your-best-holiday__partner__people__bradley
          img.meet-a-partner-for-your-best-holiday__partner__people__bradley__photo(src='./styles/images/Bitmap.png', alt='')
          .meet-a-partner-for-your-best-holiday__partner__people__bradley__icon
          .meet-a-partner-for-your-best-holiday__partner__people__bradley__name Bradley Hunter
          .meet-a-partner-for-your-best-holiday__partner__people__bradley__info Based in Chicago. I love playing tennis and loud music.
        figcaption.meet-a-partner-for-your-best-holiday__partner__people__marie
          img.meet-a-partner-for-your-best-holiday__partner__people__marie__photo(src='./styles/images/Bitmap2.png', alt='')
          .meet-a-partner-for-your-best-holiday__partner__people__marie__icon
          .meet-a-partner-for-your-best-holiday__partner__people__marie__name Marie Bennett
          .meet-a-partner-for-your-best-holiday__partner__people__marie__info Currently living in Colorado. Lover of art, languages and travelling.
        figcaption.meet-a-partner-for-your-best-holiday__partner__people__diana
          img.meet-a-partner-for-your-best-holiday__partner__people__diana__photo(src='./styles/images/Bitmap3.png', alt='')
          .meet-a-partner-for-your-best-holiday__partner__people__diana__icon
          .meet-a-partner-for-your-best-holiday__partner__people__diana__name Diana Wells
          .meet-a-partner-for-your-best-holiday__partner__people__diana__info
            | Living in Athens, Greece. I love black and white classics, chillout music and
            | green tea.
        figcaption.meet-a-partner-for-your-best-holiday__partner__people__christopher
          img.meet-a-partner-for-your-best-holiday__partner__people__christopher__photo(src='./styles/images/Bitmap4.png', alt='')
          .meet-a-partner-for-your-best-holiday__partner__people__christopher__icon
          .meet-a-partner-for-your-best-holiday__partner__people__christopher__name Christopher Pierce
          .meet-a-partner-for-your-best-holiday__partner__people__christopher__info Star Wars fanatic. I have a persistent enthusiasm to create new things.
      button.meet-a-partner-for-your-best-holiday__partner__button(type='button')
        .meet-a-partner-for-your-best-holiday__partner__button__text  See other partners
  section.discover-holiday-activity-ideas
    article.discover-holiday-activity-ideas__discover
      .discover-holiday-activity-ideas__discover__text Discover holiday activity ideas
      figure.discover-holiday-activity-ideas__discover__ideas
        figcaption.discover-holiday-activity-ideas__discover__ideas__sport
          .discover-holiday-activity-ideas__discover__ideas__sport__photo
          .discover-holiday-activity-ideas__discover__ideas__sport__text Sports and Activis
        figcaption.discover-holiday-activity-ideas__discover__ideas__wellness
          .discover-holiday-activity-ideas__discover__ideas__wellness__photo
          .discover-holiday-activity-ideas__discover__ideas__wellness__text Wellness and Health
        figcaption.discover-holiday-activity-ideas__discover__ideas__extreme
          .discover-holiday-activity-ideas__discover__ideas__extreme__photo
          .discover-holiday-activity-ideas__discover__ideas__extreme__text Extreme Sports and Expeditions
        figcaption.discover-holiday-activity-ideas__discover__ideas__games
          .discover-holiday-activity-ideas__discover__ideas__games__photo
          .discover-holiday-activity-ideas__discover__ideas__games__text Games
        figcaption.discover-holiday-activity-ideas__discover__ideas__culture
          .discover-holiday-activity-ideas__discover__ideas__culture__photo
          .discover-holiday-activity-ideas__discover__ideas__culture__text Culture and Education
        figcaption.discover-holiday-activity-ideas__discover__ideas__enjoment
          .discover-holiday-activity-ideas__discover__ideas__enjoment__photo
          .discover-holiday-activity-ideas__discover__ideas__enjoment__text Enjomet and Relaxation
        figcaption.discover-holiday-activity-ideas__discover__ideas__trevelling
          .discover-holiday-activity-ideas__discover__ideas__trevelling__photo
          .discover-holiday-activity-ideas__discover__ideas__trevelling__text Trevelling
    article.discover-holiday-activity-ideas__crate
      .discover-holiday-activity-ideas__crate__text Crate your holiday activity
      .discover-holiday-activity-ideas__crate__question Hi! What are your holiday interests?
      input.discover-holiday-activity-ideas__crate__input(type='text', placeholder='Enter your insterests')
      button.discover-holiday-activity-ideas__crate__button(type='button')
        .discover-holiday-activity-ideas__crate__button__text Search partners
